default:
  suites:
    default:
      contexts:
        - DennisDigital\Behat\Drupal\ReferencesGenerator\Context\ReferencesGeneratorContext:
            parameters:
              field_mapping:
                Title: title
                Related articles: field_test_related_articles
                Other Articles: field_test_other_articles
                Tags: field_test_tags
                Image: field_test_image
                Image title: field_file_image_title_text
                Image alt: field_file_image_alt_text
              default_content:
                node:
                  article:
                    title: "Article title from yml"
                  test:
                    title: "Test title from yml"
                    field_test_body: "Test body from yml"
                    field_test_tags: "Test Tag 1 from yml, Test Tag 2 from yml"
                    field_test_related_articles: "Art 1 from yml, Art 2 from yml"
                    field_test_image: "Image_from_yml.jpg"
                    #@todo field_test_media: Media_from_yml.jpg
                taxonomy_term:
                  test_tags:
                    name: "Tag from yml"
                    field_test_image: "Tag_image.jpg"
                image:
                  field_file_image_title_text: "Image title from yml"
                  field_file_image_alt_text: "Image alt text from yml"
